doctype html
html(lang="ru")
    head
        include mixin/meta
        title INDEX
        link(rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css")
        link(rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css")
        include mixin/styles
    body.index
        include mixin/mixin
        include header/header
        main
            .wrapper
                include index/index
        include mixin/scripts
    script(src="https://unpkg.com/swiper/swiper-bundle.js" defer)
    script(src="https://unpkg.com/swiper/swiper-bundle.min.js" defer)
    script(src="js/index.min.js" defer)

