
.icon-arrow-right:before { content: '\e800'; } /* '' */
.icon-blocks:before { content: '\e802'; } /* '' */
.icon-calendar:before { content: '\e803'; } /* '' */
.icon-help-circled-alt:before { content: '\e804'; } /* '' */
.icon-cascade:before { content: '\e805'; } /* '' */
.icon-down-open-big:before { content: '\e806'; } /* '' */
.icon-cross:before { content: '\e807'; } /* '' */
.icon-filter:before { content: '\e808'; } /* '' */
.icon-message:before { content: '\e80a'; } /* '' */
.icon-phone:before { content: '\e80b'; } /* '' */
.icon-refresh:before { content: '\e80c'; } /* '' */
.icon-rows:before { content: '\e80d'; } /* '' */
.icon-share:before { content: '\e80e'; } /* '' */
.icon-viber:before { content: '\e80f'; } /* '' */
.icon-user:before { content: '\e810'; } /* '' */
.icon-vk:before { content: '\e811'; } /* '' */
.icon-wallet:before { content: '\e812'; } /* '' */
.icon-check-empty:before { content: '\f096'; } /* '' */
.icon-ok-squared:before { content: '\f14a'; } /* '' */