//variables

$color_Black: #343434;
$color_Azure: #305BAF;
$color_Lynch: #64769A;
$color_DustyGray: #9A9A9A;


$font_1: 'Roboto', sans-serif;

$breakpoint_tablet: 768px;
$breakpoint_mobile: 425px;


@mixin tablet {
  @media (max-width: $breakpoint_tablet) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $breakpoint_mobile) {
    @content;
  }
}

*,
*::before,
*::after{
  box-sizing: border-box;
}


body{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 16px;
  line-height: 18px;
  color: black;
  font-family: $font_1;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  color: black;
}

main{
  width: 100vw;
}

.wrapper{
  width: Min(100vw, 1182px);
  padding: 0 10px;
  margin: 0 auto;
}

input[type=text],
input[type=email],
input[type=password],
input[type=number],
.input,
textarea,
select{
  font-family: $font_1;
  &::placeholder,
  &::-moz-placeholder,
  &::-webkit-input-placeholder,
  &::-ms-input-placeholder{
    font-family: $font_1;
  }
  &[disabled]{
    background-color: #aaa;
  }
  &:focus{
    outline: none;
  }
}

ul,
li{
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

button{
  border: 0 none;
}


h1,h2,h3,h4,h5,h6,p,a{
  margin: 0;
}

a{
  text-decoration: none;
  color: black;
}

.link{
  transition: color .3s;
  &:hover{
    color: $color_Azure;
  }
}



