.logo{
  display: flex;
  position: relative;

  &__left{
    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
    color: $color_Azure;
    letter-spacing: .1em;
  }

  &__right{
    margin-left: 9px;
    display: flex;
    flex-direction: column;

    &-row{
      font-size: 7px;
      line-height: 12px;
      letter-spacing: 0.1em;
      font-weight: 300;
    }

    &-capital{
      color: $color_Azure;
    }
  }

  &__link{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9;
  }
}

.button{
  padding: 11px;
  text-align: center;
  white-space: pre-line;
  text-transform: uppercase;
  color: white;
  background-color: $color_Azure;
  border-radius: 3px;
  transition: background-color .3s, color .3s;
  cursor: pointer;
  height: fit-content;
  letter-spacing: .1em;
  &:hover{
    background-color: $color_Lynch;
  }
  &--tab{
    border-radius: 3px 3px 0 0;
    background-color: white;
    color: $color_Black;
    &:hover,
    &.active{
      background-color: $color_Azure;
      color: white;
    }
  }
}