.logo{
  display: flex;
  position: relative;

  &__left{
    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
    color: $color_Azure;
    letter-spacing: .1em;
  }

  &__right{
    margin-left: 9px;
    display: flex;
    flex-direction: column;

    &-row{
      font-size: 7px;
      line-height: 12px;
      letter-spacing: 0.1em;
      font-weight: 300;
    }

    &-capital{
      color: $color_Azure;
    }
  }

  &__link{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9;
  }
}

.button{
  padding: 11px;
  text-align: center;
  white-space: pre-line;
  text-transform: uppercase;
  color: white;
  background-color: $color_Azure;
  border-radius: 3px;
  transition: background-color .3s, color .3s;
  cursor: pointer;
  height: fit-content;
  letter-spacing: .1em;
  &:hover{
    background-color: $color_Lynch;
  }
  &--tab{
    border-radius: 3px 3px 0 0;
    background-color: white;
    color: $color_Black;
    &:hover,
    &.active{
      background-color: $color_Azure;
      color: white;
    }
  }
}

.input,
.textarea{
  padding: 7px 23px;
  border: 1px solid #404040;
  border-radius: 3px;
  font-weight: 300;
  font-size: 13px;
  line-height: 19px;
}

.tooltip{
  cursor: pointer;
  font-size: 9px;
  position: relative;
  height: min-content;
  color: $color_DustyGray;
  &__text{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    padding: 3px;
    border-radius: 3px;
    background-color: white;
    border: 1px solid $color_DustyGray;
    color: black;
    display: none;
    z-index: 9;
  }
  &:hover{
    .tooltip__text{
      display: block;
    }
  }
}

.checkbox{
  cursor: pointer;
  position: relative;
  display: flex;
  &__item{
    font-size: 13px;
    line-height: 19px;
    font-family: Roboto;
    &:before{
      margin-right: 10px;
    }
  }
}